a {
    margin-top: 50;
    display: block;
    text-align: center;
    padding-top: 10;
    width: 160;
    height: 30;
    text-decoration: none;
    text-shadow: none;
    color: white;
    background-color: blue;
    border-radius: 1rem;
}

#button-container {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    display: flex;
    justify-content: center;
    width: 200;
    height: 35;
    margin-bottom: 15;
}

#input-container {
    display: grid;
    justify-content: center;
}

#box {
    display: flex;
    justify-content: center;
    align-items: flex-start;    
}

#inner-box {
    border-radius: 2rem;
    width: 450;
    height: 300;
    background-color: whitesmoke;
}

#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
